@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Webová aplikace pro správu mini muzea retro her a hardwaru.</p>
    <p>Vytvořeno jako projekt v rámci rekvalifikačního kurzu.</p>
    <p>Slouží jako sandbox pro zkoušení nových znalostí.</p>
    <br />
    <p>Aktualně funguje tvorba platforem, hardware a software.</p>
    <p>Také umístění hardware na pobočky.</p>
    <p>Funkčí také přihlašování.</p>
    <p>Aktualně je k dispozici uživatel Kurator, který má všechna práva. Může přidávat, editovat i mazat cokoliv.</p>
    <p>Další uživatel je Obsluha, která už má práva. Může přidávat a editovat cokoliv, mazat však nemůže.</p>
    <p>Přihlásit se lze přihlašovacími údaji:</p>
    <strong>jméno: kurator  heslo: Muzeum123*</strong>
    <strong>jméno: obsluha  heslo: Museum123*</strong>
</div>
