@{
    ViewData["Title"] = "Ochrana soukromí";
}
<h1>@ViewData["Title"]</h1>

<p>
    Naše webové stránky používají pouze nezbytné (technické) cookies, které jsou nutné pro správné fungování stránek a přihlášení uživatelů.
</p>
<ul>
    <li> Tyto cookies neobsahují žádné marketingové ani sledovací prvky.</li>
    <li>Nejsou využívány pro analytické účely ani pro cílení reklamy.</li>
    <li>Cookies se ukládají pouze po dobu aktivní relace (tzv. session cookies) a po odhlášení či zavření prohlížeče se automaticky mažou.</li>
</ul>
   
<p>Proto není vyžadován souhlas s používáním cookies, jelikož jsou nezbytné pro poskytování služeb, které uživatel výslovně požaduje (přihlášení a zabezpečený přístup)..</p>
    

    


