@using SkainRetroMuseumWebApp.DTO
@model MessageDTO
@{
    ViewData["Title"] = "Napsat vzkaz";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<h1>Napsat vzkaz</h1>

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Jméno</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Content">Váš vzkaz</label>
        <input type="text" asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <br />
    <a class="btn btn-outline-secondary btn-sm" asp-action="Index">🔙 Zpět na vzkazy</a>
    <input class="btn btn-primary" type="submit" value="📩 Odeslat" />
</form>
