@model PlatformDTO

@{
    ViewData["Title"] = "Detail platformy";
}


<h1>@ViewData["Title"]</h1>


<h2>@Model.Name</h2>
<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-floating mb-3">
        <input asp-for="Name" type="text" class="form-control" placeholder="." />
        <label asp-for="Name"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="YearSince" type="text" class="form-control" placeholder="." />
        <label asp-for="YearSince"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Description" style="height: 15rem
" type="text" class="form-control" placeholder="."></textarea>
        <label asp-for="Description"></label>
    </div>
    <div>
        <a class="btn btn-outline-secondary btn-sm" asp-action="Detail">🔙 Zpět na detail</a>

        <input class="btn btn-warning btn-sm" type="submit" value="Uložit" />

    </div>

</form>

