@model string
@{
    ViewData["Title"] = "Create Role";
}

<h1 class="bg-info text-white">Create Role</h1>
<a class="btn btn-outline-secondary btn-sm" asp-action="Index">🔙 Back to Roles List</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div>
        <label for="name">Role Name</label>
        <input name="name" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">💾 Create</button>
</form>
