@using SkainRetroMuseumWebApp.DTO
@model BranchDTO
@{
    ViewData["Title"] = "Pobočka";
}

<h1>Přidání pobočky</h1>

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <label asp-for="Town"></label>
        <input type="text" asp-for="Town" class="form-control" />
        <label asp-for="Street"></label>
        <input type="text" asp-for="Street" class="form-control" />
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <label asp-for="PhoneNumber"></label>
        <input type="tel" asp-for="PhoneNumber" class="form-control" />
        <label asp-for="Note"></label>
        <input type="text" asp-for="Note" class="form-control" />
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Create" />
</form>