@model BranchDTO

@{
    ViewData["Title"] = "Detail pobočky";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>


<h2>@Model.Name</h2>
<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-floating mb-3">
        <input asp-for="Name" type="text" class="form-control" placeholder="." />
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Town" type="text" class="form-control" placeholder="." />
        <span asp-validation-for="Town" class="text-danger"></span>
        <label asp-for="Town"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Street" type="text" class="form-control" placeholder="." />
        <span asp-validation-for="Street" class="text-danger"></span>
        <label asp-for="Street"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" type="text" class="form-control" placeholder="." />
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Email"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="." />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <label asp-for="PhoneNumber"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Note" style="height: 15rem" type="text" class="form-control" placeholder="."></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
        <label asp-for="Note"></label>
    </div>
    <div>
        <a class="btn btn-outline-secondary btn-sm" asp-action="Detail" asp-route-id="@Model.Id">🔙 Zpět na detail</a>

        <input class="btn btn-warning btn-sm" type="submit" value="💾 Uložit" />

    </div>

</form>

